* {
    box-sizing: border-box;
}

.title {
    margin-top: 60px;
}

.title h1, h2 {
    color : #25274D;
    font-family: "Century Gothic";
    text-align: center;
 }

.container {
    width: 100%;
    zoom: 1;
}

.options {
    display: inline-block;
    background-color: whitesmoke;
    width: 1000px;
    height: 700px;
    margin: 50px 20px 50px 175px;
    vertical-align: top;
    float: left;
    border: 2px solid #25274D;
}

.users {
    display: inline-block;
    background-color: aqua;
    color: whitesmoke;
    width: 500px;
    height: 700px;
    margin: 50px 100px 50px 20px;
    vertical-align: top;
    float: left;
    overflow: scroll;
}

.options-bar {
    background-color : #25274D;
    width: 946px;
    height: 100px;
    margin: 10px 25px;
}

.options-bar p {
    background-color: #29648A;
    color: whitesmoke;
    width: 170px;
    height: 85px;
    margin: 8px;
    border: 2px solid #AAABB8;
    display: inline-block;
    font-family: "Century Gothic";
    font-weight: bold;
    text-align: center;
    font-size: large;
    padding-top: 30px;
    border-radius: 5pt;
    cursor: pointer;
}

.forms-div p {
    position: relative;
    top: 40%;
    left: 13%;
    transform: translateY(-50%);
    background-color: #29648A;
    color: whitesmoke;
    width: 170px;
    height: 85px;
    margin: 0;
    border: 2px solid #AAABB8;
    font-family: "Century Gothic";
    font-weight: bold;
    text-align: center;
    font-size: large;
    padding-top: 30px;
    border-radius: 5pt;
    cursor: pointer;
}

.forms-div {
    padding: 100px 360px;
    margin: 10px 25px;
    width: 946px;
    height: 570px;
    display: none;
    background-color: whitesmoke;
    border: 2px solid #25274D;
}
.forms-div input, label {
    width: 200px;
    margin: 10px;
}
.single-user {
    width: 400px;
    height: 100px;
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 5pt;
}
.single-user h1, h2 {
    color : #25274D;
    font-family: "Century Gothic";
    text-align: center;
}